html {
font-family: helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
text-align: center;
}

body {
display: flex;
}

header .fixed-header-desktop {
    position: fixed;
    z-index: 100;
    height: 69px;
    background-color: black;
    width: 100%;
    display: flex;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
}

header .logo-button-container {
}

header .logo-button-image-container {
}

header .logo-image {
}

.logo-image img {
height: 50px;
width: auto;
}

header .text-buttons-container {
}

header .text-button-containers {
display: inline-flex;

}

header .text-button-text {
padding: 0px 10px;
}

.main-content {
position: relative;
top: 69px;
}

.main-content .mission-banner  {
    background-image: url("../images/img-mission-background.jpg");
/*    background-position: bottom; */
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 1200px;
    height: 700px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    }

.main-content .mission-banner .header {
background-color: black;
width: 100%;
}

.main-content .mission-banner .text {
background-color: black;
width: 100%;
}

.main-content .mission-banner .email {
background-color: black;
width: 100%;
}

.main-content .mission-banner .email .button {
display: flex;
background-color: black;
align-items: center;
height: 100px;
width: 100%;
    flex-direction: column;
}


#Tea-of-the-month {
display: flex;
justify-content: center;
}

/* Need display flex (or inline-flex) here or images will not resize */
#Tea-of-the-month .first-line-special-items {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
column-gap: 20px;
}

#Tea-of-the-month .second-line-special-items {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
column-gap: 20px;
}

#Tea-of-the-month .special-items .center .image-container {
justify-content: center;
}

#Tea-of-the-month .special-items .center .image-container img {
height: 200px;
width: 300px;
display: flex;
}

#locations .content-center {
display: inline-flex;
background-image: url("../images/img-locations-background.jpg");
    width: 1200px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;

}

#locations .text-boxes {
flex-wrap: wrap;
}

#locations .text-box {
height: 300px;
width: 300px;
justify-content: center;
align-items: center;
background-color: black;
}


.content .copyright {
justify-content: flex-start;
display-flex;
}